@import "variables";
@import "mixins";

a {
  color: $black;
  text-decoration: underline;
  text-decoration-color: $black;
  text-underline-offset: 2px;
  @include hover-transition(color);

  &:hover,
  &:focus {
    color: $main-orange;
    text-decoration-color: $main-orange;
  }
}

thead,
tbody,
tfoot,
th {
  background-color: $white !important;
  border-bottom-width: 2px !important;
  color: $black;
  border-bottom: 2px solid $light-background;
  @include poppins-font();
}

td {
  background-color: $white;
  border-bottom-width: 2px !important;
  border-bottom: 2px solid $light-background;
  color: $black;
  @include poppins-font();
}

.mat-mdc-table {
  background-color: $white;
  border-collapse: separate !important;
  border-spacing: 0 4px !important;
}

.action-icons {
  height: 16px;
  margin-right: 8px;
  cursor: pointer;
  @include hover-transition(filter);

  &:hover {
    @include icon-orange-filter;
  }

  &:last-child {
    margin-right: 0;
  }
}

.action-icons-container-middle {
  @include flex-center();
  justify-content: flex-end !important;
}

.mat-mdc-card {
  background-color: $white !important;
  box-shadow: 6px 0px 10px rgba(0, 0, 0, 0.05) !important;
}

.mat-mdc-card-content {
  background-color: $white !important;
}

.mat-mdc-paginator-container {
  color: $black;
  @include poppins-font();

  .mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
    fill: $gray-border-darker;
  }

  .mat-mdc-icon-button .mat-mdc-paginator-icon {
    fill: $black;
  }
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #{$main-blue} !important;
}
